@font-face {
  font-weight: 400;
  font-family: "AlotGutenbergB";
  font-style: normal;
  src: url("../fonts/AlotGutenbergB.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Hagin Caps Medium";
  font-style: normal;
  src: url("../fonts/HaginCapsMedium.otf");
}

@font-face {
  font-weight: 400;
  font-family: "Minion Pro";
  font-style: normal;
  src: url("../fonts/MinionPro-BoldCn.otf");
}

body {
  font-family: "Minion Pro", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: @normal;
  
  background-color: @bg;
  outline: 10px solid @border;
  outline-offset: -35px;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

ul {
  .reset;
  list-style-type: none;
}

a {
  text-decoration: none;
}
