@font-face {
  font-family: 'ALOTGutenbergB-Normal';
  src: url('ALOTGutenbergB-Normal.woff') format('woff'),
       url('ALOTGutenbergB-Normal.ttf') format('truetype'),
       url('ALOTGutenbergB-Normal.svg#ALOTGutenbergB-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlotGutenbergB';
  src: url('AlotGutenbergB.eot');
  src: url('AlotGutenbergB.woff2') format('woff2'),
       url('AlotGutenbergB.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

