.address__link {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 26px;
  font-family: "Hagin Caps Medium", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: @red;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  z-index: 25;
  
  &::before {
    content: "|";
    position: absolute;
    top: 0;
    left: 12px;
    color: inherit;
  }
  
  &:first-child::before {
    display: none;
  }
  
  &:hover span,
  &:active span {
    color: #982c30;
    border-bottom: 1px solid #982c30;
  }
}

.address--main .address__link {
  color: @light;
  
  &::before {
    color: inherit;
  }
}