.footer {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  
  &::after {
    content: "";
    position: fixed;
    width: calc(~"100vw - 50px");
    height: 10px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: @border;
  }
  
  &::before {
    content: "";
    position: fixed;
    width: 10px;
    height: calc(~"100vh - 70px");
    right: 25px;
    top: 35px;
    background-color: @border;
  }
}

.footer__text {
  color: @normal;
  flex-grow: 1;
  z-index: 25;
  
  &:nth-child(2) {
    text-align: right;
  }
}

.footer__link {
  color: @brown;
  
  &:hover,
  &:active {
    border-bottom: 1px solid @brown;
  }
}

.footer--main .footer__text {
  color: @light;
}

.footer--main .footer__link {
  color: @light-brown;
  
  &:hover,
  &:active {
    border-bottom: 1px solid @light-brown;
  }
}