.header {
  width: 100%;
  padding: 0 80px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  &::after {
    content: "";
    position: fixed;
    width: calc(~"100vw - 50px");
    height: 10px;
    top: 25px;
    left: 25px;
    background-color: @border;
  }
  
  &::before {
    content: "";
    position: fixed;
    width: 10px;
    height: calc(~"100vh - 70px");
    left: 25px;
    top: 35px;
    background-color: @border;
  }
}

.header__hand {
  width: 189px;
  height: 158px;
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 1;
  background-image: url(../img/hand-brown.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__book {
  display: block;
  margin-top: 37px;
  padding-right: 60px;
  text-align: center;
  font-family: "Hagin Caps Medium", "Arial", sans-serif;
  font-weight: 400;
  color: @light;
  text-transform: uppercase; 
}

.header--main .header__book {
  color: @tel;
}

.header--main .header__hand {
  background-image: url(../img/hand.png);
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

.header__hand:hover {
  animation-duration: 1s;
  animation-name: bounce;
  transform-origin: center bottom;
}