.header {
  width: 100%;
  padding: 0 80px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  &--main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.header__book {
  width: 189px;
  height: 158px;
  position: absolute;
  top: 39px;
  right: 0;
  padding-top: 40px;
  padding-left: 10px;
  
  font-family: "Hagin Caps Medium", "Arial", sans-serif;
  font-weight: 400;
  color: @tel;
  text-transform: uppercase;
  
  background-image: url(../img/hand.png);
  background-size: contain;
  background-repeat: no-repeat;
}